@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family:'Bebas';
    src: url(../fontes/bebasneue-regular.ttf);
    font-weight: normal;
}

:root { /* Utilizar para criar seletores para cor, fonte, et se futuramente precisar alterar alguma cor oi fonte basta modificar aqui*/
--fonte-android:'Android', 'cursive';
--fonte-bebas:'Bebas', 'cursive';
--fonte-padrao:Arial, Verdana, Helvetica, Sans-serif;
}

*{ /* Configuração global: Pega todos os elementos do HTML da pagina inteira*/
    margin: 0px;
    padding: 0px;
}

body{
    background-color:  rgba(56, 129, 129, 0.188);
    font-family:var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, rgb(56, 129, 129), rgb(27, 61, 61));
    font-family:var(--fonte-bebas);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--fonte-bebas);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.482);
}

header > h2{
    font-family: var(--fonte-bebas);
    font-weight: normal;
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.482);  
}

nav{
    text-align: left;
    font-weight: normal;
    background-color: 56, 129, 129;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.285);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 30px;
    text-decoration: none;
    transition-duration: o.5s;
}

nav > a:hover{
    text-decoration: underline;
    background-color:#297575ec;
    font-size: 1.2em; /*Faz o texto crescer quando passar o mouse*/
    color: black;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    font-family:var(--fonte-android);
    font-weight: normal;
    font-size: 2em;
    color: #1b5d5de9;;
}

main h2{
    font-family:var(--fonte-android);
    font-weight: normal;
    color: #1b5d5de9;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
    line-height: 2em; /*Cria espaçamento entre as linhas do texto*/
}

main strong{
    color: #f1f4f4e9;
    font-weight: bold;
    background-color: #297575ec;
    padding: 2px 6px;
    border-radius: 3px;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: #1b5d5de9;
    background-color: aliceblue;
    padding: 2px 6px;
    border-radius: 3px;
}

main a:hover{
    text-decoration: underline;
    color: #5d1b1be9;
}
img{
    width: 100%;
}

main img.pequena{
    max-width:350px;
    display: block;
    margin: auto;
}

div.video{
    background-image: linear-gradient(to bottom, rgb(56, 129, 129), rgb(27, 61, 61));
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width:90%;
    height: 90%;
}

aside{
    background-color: #09a7a7;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.288);
    color: white;
}

aside > h3{
    background-image: linear-gradient(to bottom, rgb(56, 129, 129), rgb(27, 61, 61));
    color: white;
    padding: 10px;
    margin: -10px -10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.253);
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714';
    list-style-position: inside;
    line-height: 2em;
    columns: 2;
}

div.formulario> iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width:90%;
    height: 90%;
}

div.formulario{
    background-image: linear-gradient(to bottom, rgb(56, 129, 129), rgb(27, 61, 61));
    margin: -10px -10px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

#form{
    background-image: linear-gradient(to bottom, rgb(56, 129, 129), rgb(27, 61, 61));
    color: white;
    padding: 10px;
    margin: -10px -10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.253);
    border-radius: 10px 10px 0px 0px;
}

footer{
    background-color:#1b5d5de9;
    color: white;
    font-size: 0.5em;
    text-align: center;
    padding: 5px;
    margin: 0px;
}
footer > p{
    margin: 0px;
}